<app-header></app-header>
<form #searchForm='ngForm' (ngSubmit)='searchPhotos(searchForm)'>
  <mat-form-field class="form-field">
    <input matInput placeholder="Search Photos" required #search='ngModel' name='search' color='primary' [(ngModel)]='query.search'>
    <mat-error *ngIf="search.invalid && (search.dirty || search.touched)">
      <div *ngIf="search.errors?.required">
        Search query is required.
      </div>
    </mat-error>
  </mat-form-field>
  <button mat-icon-button type='submit'color='primary'>
    <mat-icon>search</mat-icon>
  </button>
</form>
<mat-spinner class='spinner' *ngIf="isLoading"></mat-spinner>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" *ngIf="!isLoading" >
  <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile *ngFor='let image of photoUrls | merge:photoTags;let i = index;'>
          <img [src]='image.src' alt={{image.tags}} (click)="showGallery(i)" loading=lazy>
      </mat-grid-tile>
  </mat-grid-list>
</div>